<div class="footer">
  <div class="container">

    <p class="pull-right"><a href="#">Subir</a> <b class="caret-up"></b></p>

    <p>{% now "Y" %} - La Matanza, Buenos Aires, Argentina.</p>

    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/ar/80x15.png" /></a><br /><a xmlns:cc="http://creativecommons.org/ns#" href="http://www.revista-contexto.com.ar" property="cc:attributionName" rel="cc:attributionURL">Revista Contexto</a> se publica bajo la licencia<br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/">Creative Commons Atribución-NoComercial-CompartirDerivadasIgual 2.5 Argentina</a>.</p>

    <p>Sitio web desarrollado con <a href="http://es.wikipedia.org/wiki/Software_libre" title="">Software Libre</a>.</p>

  </div>
</div>

{# vim:set ft=htmldjango.html expandtab tabstop=2: #}
