<ul class="nav nav-pills">
{% for group in menu %}
    {% if group.subitems|length %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ group.item }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for subitem in group.subitems %}
          <li><a href="{% if subitem.url %}{{ subitem.url }}{% else %}{{ subitem.get_absolute_url }}{% endif %}">{{ subitem }}</a></li>
          {% endfor %}
        </ul>
    </li>
    {% else %}
    <li><a href="{% if group.item.url %}{{ group.item.url }}{% else %}{{ group.item.get_absolute_url }}{% endif %}">{{ group.item }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{# vim:set ft=htmldjango.html expandtab: #}
