/**
 * Revista contexto styles
 */

/* {{{ Tools */
#tools {
	position: fixed;
	display: block;
	height: 20px;
	width: 80px;
	top: 40px;
	left: -83px;
	padding: 5px;
	text-align: center;
	background: #E8EFFB;
	/* BEGIN radius */
	-moz-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-khtml-border-top-right-radius:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius: 4px;
	/* END radius */
}
/* }}} */
/* {{{ Colores */
.azul-oscuro { color: #182E4F; }
.azul-mediooscuro { color: #29528F; }
.azul-medio { color: #3D79D0; }
.azul-medioclaro { color: #A8CBFF; }
.azul-claro { color: #F0F4FA; }
/* }}} */
/* Tags {{{ */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #3D79D0;
}
a:link {}
a:visited {}
a:hover { color: #29528F; }
a:active {}

strong, b { font-weight: bolder; }
/* }}} */
/* {{{ Encabezado */
#header {
	margin-top: 40px;
}
/* }}} */
/* {{{ Menú */
.main-menu { font-weight: 600; }

	.main-menu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.main-menu li {
		display: inline;
		margin-right: 1em;
	}

	.main-menu .menu a {
		color: #CCC;
	}
	
	.main-menu .menu a.selected {
		color: #3D79D0;
	}

	.main-menu .submenu a {
		color: #888;
	}
/* }}} */
/* {{{ Pie */
#footer {
	background: #29528F;
	color: #FFF;
}
/* }}} */

