<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}media/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="{{ STATIC_URL }}media/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}media/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL }}media/css/revista.css" type="text/css" media="screen" />
	{% block head %}{% endblock %}
</head>
<body class="container">
	{% block container %}{% endblock %}
</body>
</html>
{# vim:set ft=htmldjango.html: #}
