<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- For IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ STATIC_URL }}css/contexto.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
    {% block container %}{% endblock %}
    </div>

    <footer class="footer">
      <div class="container">
        {% block footer %}
        <p class="pull-right"><a href="#">Subir</a> <b class="caret-up"></b></p>
        <p>Buenos Aires, Argentina.</p>
        <p>Buenos Aires, Argentina.</p>
        <p>Buenos Aires, Argentina.</p>
        {% endblock %}
      </div>
    </footer>
</body>
</html>
{# vim:set ft=htmldjango.html expandtab: #}
