<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta property="fb:admins" content="1030491913">
  <meta name="description" content="Política y Sociedad. Actualidad, opinión, contenidos audiovisuales.">
  <meta name="keywords" content="revista contexto, la matanza, buenos aires, argentina, noticias, política, sociedad, economía, cultura, arte, opinión">
  <link rel="alternate" type="application/rss+xml" title="Revista Contexto" href="http://{{ SITE }}/feeds/">
  <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">

  <title>{% block title %}{% endblock %}</title>

  <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- For IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="{{ STATIC_URL }}css/contexto.css" rel="stylesheet">
  {% block head %}{% endblock %}

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30301818-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
  <div class="main">
      <div style="background:#f0f0f0;margin-bottom:40px">
          <div class="container" style="height:120px">
              <div class="logo">
                {% include "revista/bloques/social_links.html" %}
                <a href="/" title="Ir a la portada"><img src="{{ STATIC_URL }}images/logo4.png" alt="" /></a>
              </div>
          </div>
      </div>

      <div class="container">
      {% block container %}{% endblock %}
      </div>
  </div>

  {% block footer %}
    {% include "revista/bloques/footer.html" %}
  {% endblock %}
</body>
</html>
{# vim:set ft=htmldjango.html expandtab tabstop=2: #}
