{% extends "revista/base.html" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="{{ STATIC_URL }}js/contexto.js"></script>

    <link href="{{ STATIC_URL }}prettyphoto/css/prettyPhoto.css" rel="stylesheet">
{% endblock %}

{% block container %}
    {% load revista %}

    <header>
        <div class="logo">
            <a href="/" title=""><img src="{{ STATIC_URL }}images/logo4.png" alt="" /></a>
        </div>
    </header>

    <nav class="menu">
        {% bloque_menu %}
    </nav>

    <section class="row content">
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        {% block footer %}
        <p>Buenos Aires, Argentina</p>
        {% endblock %}
    </footer>

{% endblock %}

{# vim:set ft=htmldjango.html expandtab: #}
