{% extends "revista/base.html" %}

{% block head %}
	<script src="/media/js/jquery.js" type="text/javascript"></script>
	<script src="/media/js/base.js" type="text/javascript"></script>
{% endblock %}

{% block container %}

	<header id="header" class="span-24 last">
		<h1>Logo</h1>
	</header>

	<nav id="menu" class="span-24 last">
		<ul>
			<li>item 1</li>
			<li>item 2</li>
		</ul>
	</nav>

	<section id="content" class="span-24 last">
		{% block content %}
		{% endblock %}
	</section>

	<footer id="footer" class="span-24 last">
		{% block footer %}
		{% endblock %}
	</footer>

{% endblock %}

{# vim:set ft=htmldjango.html: #}
