{% extends "revista/container.html" %}

{% block title %}Revista contexto - Archivo de '{{ tag }}'{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}

  <div class="span8 post">
    <div class="well" style="background:#f9f9f9">
      <h3 style="margin:0">Archivo de '{{ tag }}'</h3>
    </div>
    {% include "revista/bloques/titulares.html" %}
  </div>

  <div class="span4 sidebar">
  </div>

  {% include "revista/bloques/paginador.html" %}

{% endblock %}

{# vim:set ft=htmldjango.html expandtab tabstop=2: #}
