{% extends "revista/container.html" %}

{% block title %}{{ nota.titulo }}{% endblock %}

{% block content %}
	{% load cache2 %}
	<article>
		<header>
			<h1>{{ nota.titulo }}</h1>
			<time>{{ nota.fecha }}</time>
		</header>
		{% if nota.archivos.count %}
        <div class="gallery">
			{% for na in nota.notaarchivos_set.all %}
			<span>
				<a href="{{ na.archivo.get_absolute_url }}" title="{{ na.epigrafe }}" rel="prettyPhoto[uno]">
					<img src="{% if forloop.first %}{{ na.archivo.get_absolute_url|thumb:200 }}{% else %}{{ na.archivo.get_absolute_url|thumb:50 }}{% endif %}" alt="" />
				</a>
			</span>
			{% endfor %}
        </div>
		<script>
		$("a[rel^='prettyPhoto']").prettyPhoto({
			theme: 'dark_square',
			social_tools: '',
			opacity: 0.9,
			show_title: false,
			allow_resize: false
		});
		</script>
		{% endif %}
		<div style="clear:both">
		{{ nota.cuerpo }}
		<footer>metadata</footer>
		<nav>between articles</nav>
		</div>
	</article>
{% endblock %}

{# vim:set ft=htmldjango.html: #}
