{% extends "revista/container.html" %}

{% block title %}{{ pagina.titulo }}{% endblock %}

{% block content %}
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    {% load revista %}
    <div class="span8 post">

        <div>
            <h1>{{ pagina.titulo }}</h1>
        </div>

        <div class="bloque-copete">
          {% bloque_copete pagina %}
          {% if nota.copete %}
          <div class="separador-puntos">
              <img src="{{ STATIC_URL }}images/separador.png" alt="" />
          </div>
          {% endif %}
        </div>

        <div class="cuerpo">
        {{ pagina.cuerpo|safe }}
        </div>

        {% if pagina.permitir_comentarios %}
        <div class="comentarios">
            <h3>Comentarios</h3>
            <div class="fb-comments" data-href="http://www.revista-contexto.com.ar{{ pagina.get_absolute_url }}" data-num-posts="3" data-width="620"></div>
        </div>
        {% endif %}

    </div>

    <div class="span4 sidebar">
        {% bloque_galeria pagina %}
    </div>

{% endblock %}

{# vim:set ft=htmldjango.html expandtab: #}
