{% extends "revista/container.html" %}

{% block title %}{{ pagina.titulo }}{% endblock %}

{% block content %}
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    {% load revista %}
    <article class="post span8">

        <header>
            <h2>{{ pagina.titulo }}</h2>
        </header>

        {{ pagina.cuerpo|safe }}

        <footer style="margin-top:20px">

        {% if pagina.permitir_comentarios %}
            <h3>Comentarios</h3>
            <div class="fb-comments" data-href="http://www.revista-contexto.com.ar{{ pagina.get_absolute_url }}" data-num-posts="3" data-width="620"></div>
        {% endif %}

        </footer>

    </article>

    <section id="sidebar" class="span4">

        {% bloque_galeria pagina %}

        HOLA: {{ SITE }}

    </section>

{% endblock %}

{# vim:set ft=htmldjango.html expandtab: #}
