{% extends "revista/container.html" %}

{% block title %}Debate en contexto{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
  {% load cache2 revista %}

  {# Destacados #}
  {% with notas=object_list|jerarquia:'destacado' %}
  {% if notas %}
  <div id="myCarousel" class="span12 carousel slide">
    <div class="carousel-inner">
    {% for nota in notas %}
      <div class="item {% if forloop.first %}active{% endif %}">
        <img src="{{ nota.get_imagen_titular.get_absolute_url }}" alt="" />
        <div class="carousel-caption">
          {% bloque_volanta nota %}
          <h1><a href="{{ nota.get_absolute_url }}">{{ nota.titulo }}</a></h1>
          {% bloque_copete nota %}
        </div>
      </div>
    {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
  {% endif %}
  {% endwith %}

  {# Normales #}
  <div class="span8 post">
  {% with notas=object_list|jerarquia:'normal' %}
  {% for nota in notas %}
  <div class="titular normal {% if not forloop.first %}separador{% endif %}">

    <div>
      {% bloque_volanta nota %}
      <h2><a href="{{ nota.get_absolute_url }}" title="">{{ nota.titulo }}</a></h2>
    </div>

    {% with nota.get_imagen_titular as imagen %}
      {% if imagen %}
      <div class="row">
        <div class="span3">
            <img src="{{ imagen.get_absolute_url|thumb:220 }}" alt="{{ imagen.alt }}" />
        </div>
        <div class="span5">
          {% bloque_autores nota %}
          {% bloque_copete nota %}
        </div>
      </div>
      {% else %}

      {% bloque_autores nota %}
      {% bloque_copete nota %}
      {% bloque_audio nota %}
      {% endif %}
    {% endwith %}

  </div>
  {% endfor %}
  {% endwith %}

  {% include "revista/bloques/paginador.html" %}
  </div>

  <div class="span4 sidebar">

    {# Secundarios #}
    {% with notas=object_list|jerarquia:'secundario' %}
    {% for nota in notas %}
      <div class="titular secundario {% if not forloop.first %}separador{% endif %}">
        {% bloque_volanta nota %}
        <h3><a href="{{ nota.get_absolute_url }}" title="">{{ nota.titulo }}</a></h3>

        {% with nota.get_imagen_titular as imagen %}
        {% if imagen %}
        <div>
          <img src="{{ imagen.get_absolute_url|thumb:300 }}" alt="{{ imagen.alt }}" />
        </div>
        {% endif %}
        {% endwith %}

        {% bloque_autores nota %}
        {% bloque_copete nota %}
        {% bloque_audio nota %}
      </div>
    {% endfor %}
    {% endwith %}

  </div>

{% endblock %}

{# vim:set ft=htmldjango.html tabstop=2 expandtab: #}
